h1 {
  margin-top: 0;
  color: coral;
}

.chartWrapper {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
}

.inputWrapper {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: row;
  margin: 2rem;
}

.inputWrapper > input {
  margin-bottom: 1rem;
}

.col {
  display: flex;
  flex-direction: column;
  max-width: 20rem;
  margin-right: 5rem;
}

.rule {
  display: hidden;
}

label {
  font-size: 1rem;
  font-weight: 500;
  color: steelblue;
  margin-bottom: 0.2rem;
}

input {
  border-radius: 0.5rem;
  border: 1px solid #ccc;
  padding: 0.5rem;
  width: 15rem;
  margin-bottom: 0.3rem;
}

.buttonWrapper {
  display: flex;
  align-items: center;
} 

button {
  width: max-content;
  padding: 0.5rem 1rem;
  background-color: white;
  border: 1px solid #ccc;
  border-radius: 0.5rem;
  transition: all 0.2s ease-in-out;
  cursor: pointer;
  min-height: 5rem;
}

button:hover {
  background-color: coral;
  color: white;
}